@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap");

:root {
  --theme-orange: #ff764d;
  --theme-dark-blue: #0000ff;
  --theme-red: #fd5948;
  --theme-yellow: #fbffa7;
  --theme-green: #b6ffc0;
  --theme-purple: #d5b3ff;
}

* {
  font-family: "Outfit", serif;
  text-decoration: none;
  list-style-type: none;
}

body {
  max-width: 100rem;
  margin: 0 auto;

  align-self: center;
  background-color: #f3f3f3;
}

#main {
  background-color: white;
  margin: auto;
}

footer{
  background-color: white;

}

.menu-button {
  background: none;
  border: none;
  padding: 0;
}

.hero {
  min-height: calc(100vh - 120px);
  margin-left: 8.3vw;
  margin-right: 8.3vw;
  margin-bottom: 8.3vw;
  background-image: url("https://ableton-production.imgix.net/about/header.jpg?auto=format&dpr=2&fit=crop&fm=jpg&h=880&ixjsv=1.1.3&q=50&w=1333");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%, 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero h1 {
  color: var(--theme-red);
  font-size: 8.5rem;
  font-weight: 500;
}

.active {
  color: var(--theme-orange);
}

.main-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-right: 1rem;
  border-bottom: solid 2px lightgray;
}

.menu-toggle {
  display: none;
  color: inherit;
  font-size: 1.25rem;
}

.main-nav-logo {
  width: 3.75em;
  height: 1.75em;
}

.nav-headings {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.large-nav-link {
  font-size: 1.2rem;
  color: var(--theme-dark-blue);
}

a {
  color: inherit;
  font-size: 1rem;
}

.nav-item a,
button {
  font-size: 1.25rem;
}

.secondary-nav{
  position: sticky;
  top: 0;
  background-color: rgba(255,255,255,0.6);
  padding-top: 10px;
  padding-bottom: 10px;
  z-index: 1;
}

.secondary-nav a,
ul {
  font-size: 0.9rem;
}

.menu-invisible {
  max-width: 100vw;
  right: 0;
  top: 0;
  transform: translateY(-100%);
  transition: all 0.3s ease;
}

.menu-visible {
  transform: translateY(0);
  transition: all 0.3s ease;
}

#mobile-menu {
  display: none;
  position: absolute;
  max-width: 100%;
  background-color: #0000ff;
}

.mobile-menu-container {
  padding-left: 1rem;
}

.mobile-menu-list {
  padding: 0;
}

.mobile-menu-list a {
  color: white;
}

.mobile-nav-item {
  padding-bottom: 1.5rem;
}

.mobile-nav-item a {
  font-size: 1.25rem;
}

.small-link {
  padding-bottom: 0.875rem;
}

.small-link a,
h3,
p {
  font-size: 0.875rem;
  margin: 0;
  font-weight: normal;
}

.mobile-nav-heading {
  color: white;
  padding-bottom: 0.6rem;
  font-size: 1.25rem;
}

.width-list {
  margin: 0;
  display: flex;
  overflow-x: auto;
  gap: 2.4rem;
}

.scrollable {
  min-width: 13.5rem;
}

.width-list::-webkit-scrollbar {
  display: block;
  width: 10px;
}

.width-list::-webkit-scrollbar-thumb {
  background: #00000070;
}

.about-section {
  margin-left: auto;
  margin-right: auto;
  width: 50vw;
  margin-bottom: 8.33vw;
}

.body-text h2,
a {
  font-size: 1.875rem;
  line-height: 1.4;
  font-weight: 500;
}

.body-text p {
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.5;
}

.body-text a {
  color: #0000ff;
}

.about-section-collage-4 {
  height: 58.33vw;
  width: 100%;
  position: relative;
  margin-bottom: 8.33vw; 
}

.about-section-collage-3{
  display: flex;
   justify-content: center;
   max-width: 75vw;
   margin: auto;
}

.about-section-collage-3 img{
  width: 100%;
}

.about-section-collage-2 {
  height: 75vw;
  width: 100%;
  position: relative;
  margin-bottom: 8.33vw; 
}

.about-section-collage {
  height: 48.33vw;
  width: 100%;
  position: relative;
  margin-bottom: 8.33vw;
}

.about-page-purple-bg {
  background-color: var(--theme-purple);
  height: 58.33vw;
  width: 66.66vw;
  left: 16.66vw;
  position: absolute;
}

.about-page-yellow-bg {
  background-color: var(--theme-yellow);
  height: 48.33vw;
  width: 58.33vw;
  left: 42vw;
  position: absolute;
}

.about-page-green-bg {
  background-color: var(--theme-green);
  height: 75vw;
  width: 58.33vw;
  right: 42vw;
  position: absolute;
}

.about-page-collage-3-left {
  position: absolute;
  background-image: url("https://ableton-production.imgix.net/about/photo-6-a.jpg?fit=crop&h=279&ixjsv=1.1.3&w=372");
  background-repeat: no-repeat;
  background-size: cover;
  height: 25vw;
  width: 33.33vw;
  left: 8.33vw;
  margin-top: 16vw;
}

.about-page-collage-3-right {
  position: absolute;
  background-image: url("https://ableton-production.imgix.net/about/photo-7.jpg?fit=crop&h=485&ixjsv=1.1.3&w=485");
  background-repeat: no-repeat;
  background-size: cover;
  height: 41.66vw;
  width: 41.66vw;
  left: 57vw;
  margin-top: 9vw;
}

.about-page-collage-left {
  position: absolute;
  background-image: url("https://ableton-production.imgix.net/about/photo-1.jpg?fit=crop&h=553&ixjsv=1.1.3&w=553");
  background-repeat: no-repeat;
  background-size: cover;
  height: 40.33vw;
  width: 40.33vw;
  left: 8vw;
  margin-top: 4vw;
}

.about-page-collage-2-left {
  position: absolute;
  background-image: url("https://ableton-production.imgix.net/about/photo-3.jpg?dpr=2&fit=crop&h=242&ixjsv=1.1.3&q=50&w=323");
  background-repeat: no-repeat;
  background-size: cover;
  height: 30.33vw;
  width: 30.33vw;
  left: 8vw;
  margin-top: 6vw;
}

.about-page-collage-2-left-2 {
  position: absolute;
  background-image: url("https://ableton-production.imgix.net/about/photo-4.jpg?fit=crop&h=242&ixjsv=1.1.3&w=323");
  background-repeat: no-repeat;
  background-size: cover;
  height: 30.33vw;
  width: 30.33vw;
  left: 8vw;
  margin-top: 40vw;
}

.about-page-collage-right {
  position: absolute;
  background-image: url("https://ableton-production.imgix.net/about/photo-2.jpg?fit=crop&h=385&ixjsv=1.1.3&w=514");
  background-repeat: no-repeat;
  background-size: cover;
  height: 30.33vw;
  width: 30.33vw;
  left: 57.55vw;
  margin-top: 9vw;
}

.about-page-collage-2-right {
  position: absolute;
  background-image: url("https://ableton-production.imgix.net/about/photo-5.jpg?dpr=2&fit=crop&h=404&ixjsv=1.1.3&q=50&w=404");
  background-repeat: no-repeat;
  background-size: cover;
  height: 41.66vw;
  width: 41.66vw;
  left: 47.55vw;
  margin-top: 18vw;
}

.video-container {
  margin-left: auto;
  margin-right: auto;
  width: 50vw;
  margin-bottom: 8.33vw;
}

.videoSection {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  width: 50vw;
  height: 28.125vw;
}

#AbeltonVideo {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1280px) {
  .nav-headings {
    gap: 1rem;
  }
  .nav-item a,
  button {
    font-size: 1rem;
  }
  .body-text h2,
  a {
    font-size: 1.25rem;
    line-height: 1.4;
    font-weight: 500;
  }
  .body-text p {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
  }
  .videoSection {
    width: 60vw;
    height: 33.75vw;
  }
  .video-container {
    margin-left: 20vw;
    margin-right: 20vw;
    width: 50vw;
    margin-bottom: 8.33vw;
  }
}

@media screen and (max-width: 1028px) {
  .nav-item {
    display: none;
  }
  .menu-toggle {
    display: block;
  }

  #mobile-menu {
    display: block;
  }

  .mobile-styling {
    background-color: #0000ff;
    border: none;
    margin: 0;
    color: white;
  }

  .about-section {
    margin-left: 8.33vw;
    margin-right: 8.33vw;
    width: auto;
    margin-bottom: 8.33vw;
  }

  .video-container {
    margin-left: 8.33vw;
    margin-right: 8.33vw;
    width: 50vw;
    margin-bottom: 8.33vw;
  }

  .videoSection {
    width: 80vw;
    height: 45vw;
  }
}

@media screen and (min-width: 100em) {
  .about-section-collage {
    height: 806px;
  }
  .about-section-collage-2 {
    height: 1200px;
  }

  .about-page-yellow-bg {
    left: 700px;
    width: 900px;
    height: 806px;
  }
  .about-page-green-bg {
    right: 700px;
    width: 900px;
    height: 1200px;
  }

  .about-page-purple-bg {
    right: 266.66px;
    width: 1000px;
    height: 933px;
  }
  .about-page-collage-left {
    height: 673px;
    width: 673px;
    left: 133px;
    margin-top: 66.76px;
  }

  .about-page-collage-2-left {
    height: 400px;
    width: 400px;
    left: 133px;
    margin-top: 140px;
  }

  .about-page-collage-2-left-2 {
    height: 400px;
    width: 400px;
    left: 133px;
    margin-top: 680px;
  }

  .about-page-collage-right {
    height: 506px;
    width: 506px;
    left: 960px;
    margin-top: 150px;
  }

  .about-page-collage-2-right {
    height: 666.66px;
    width: 666.66px;
    left: 760px;
    margin-top: 300px;
  }

  .about-page-collage-3-left {
    height: 400px;
    width: 533.33px;
    left: 133.33px;
    margin-top: 275px;
  }
  
  .about-page-collage-3-right {
    height: 666.66px;
    width: 666.66px;
    left: 935px;
    margin-top: 140px;
  }

  .about-section {
    width: 800px;
  }

  .about-section-collage-3{
    max-width: 1250px;
  }
}
